<footer>
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 text-right">
						<span class="mr-1">
							@section script {
								<script>
									document.write(new Date().getFullYear());©
								</script>
							}
						</span>
						<a href="#" class="">POS Dash</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>